/node_modules
/test
/src
/doc
/.vscode
/.github

.gitignore
.gitattributes

benchmark.ts
benchmark.js
build.ts
test.ts
typedoc.json

bun.lock
eslint.config.js

tsconfig.json
tsconfig.cjs.json
tsconfig.mjs.json

BENCHMARK.md